<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BaseAddress" value="http://localhost:8088/" />
    <add key="ApiKey" value="demo-local-key" />
  </appSettings>
  <connectionStrings>
    <add name="ToolLending" connectionString="Host=127.0.0.1;Port=5432;Database=tool_lending;Username=tool_lending_app;Password=CHANGE_ME;Search Path=tool_lending,public;" providerName="Npgsql" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
